h1 {
  background-color: #b7b7b7;
  font-family: sans-serif;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  font-size: 70px;
  color: #4886e2}
p {
  font-family: sans-serif;
  font-size: 30px;
  color: #4886e2;}  
