header {
  text-align: center;}
h1 {
  padding-top: 40px;
  padding-bottom: 20px;
  font-size: 45px;
  color: #b7b7b7;
  font-family: sans-serif;}
h2 {
  padding-bottom: 20px;
  font-family: sans-serif;
  color: #b7b7b7;
  font-size:20px;}

h3 a:link {
  color: #b7b7b7;}

h3 a:visited {
  color: #b7b7b7;}

h3 a:hover {
  color: #b7b7b7;}

h3 a:active {
  color: #4886e2;}

h3 a:link {
  text-decoration: none;}

h3 a:visited {
  text-decoration: none;}

h3 a:hover {
  text-decoration: none;}

h3 a:active {
  text-decoration: none;}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #b7b7b7;}

li {
  float: left;}

li a {
  display: block;
  color: #4886e2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin-left: 27px;
  font-family: sans-serif;}

li a:hover {
  color: #b7b7b7;
  background-color: #4886e2;}
